body, html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body{
    background: black;
}

img{
    width: 30vw;
}

.main-body{
    width: 30vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.main-body img{
    width: 48px;
    margin: 20px;
    cursor: pointer;
}